{
    "extends": "airbnb-base",
    "parser": "babel-eslint",
    "env": {
      "mocha": true
    },
    "plugins": [
      "chai-friendly"
    ],
    "rules": {
      "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
      "no-unused-expressions": 0,
      "chai-friendly/no-unused-expressions": 2
    }
  }
